<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="list">List</h1>
        <% links.forEach((item) => { %>
            <br><a href="/redirect/<%= item.id %>" class="a"><img src="<%= item.img %>"><%= item.name %></a>
        <% }); %>
    </div>
</body>
</html>